body {
    font-family: sans-serif;
    background-color: #222222;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
   
}
.count
      {
        max-width:800px;
         color: #6fabff;
    font-family: sans-sarif;
    margin: auto;
    padding-top: initial;
    padding-left: 20px;
    padding-right: 20px;
    align-content: center;
      }
      .make_me_semi_transparent {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
filter: alpha(opacity=50);
opacity: 0.5;
}
